

<header class="order_top_bar">
    <div class="left">
        <h1>All Orders</h1>
        <span>Manage and track all customer orders</span>
    </div>
    <div class="right">
        <a class="btn btn-primary" asp-controller="Orders" asp-action="Create">
            <i class="fa-solid fa-plus"></i>
            <span>Create Order</span>
        </a>
        <button class="btn btn-dark">
            <i class="fa-solid fa-download"></i>
            <span>Export</span>
        </button>

        <button class="admin_user_btn">
            <i class="fa-solid fa-user"></i>
            <span>Admin User</span>
        </button>
    </div>
</header>

