@using  Adidas.DTOs.Operation.OrderDTOs;
@model OrderFilterDto;

<section class="filter_section">
    <form method="get" asp-controller="Orders" asp-action="Index" class="left">
        <div class="search_input">
            <i class="fas fa-search"></i>
            <input type="text" id="searchByOrderNumberInput" asp-for="OrderNumber">
        </div>
        <select name="status" id="orderStatusSelect" asp-for="OrderStatus">
            <option value="all">All</option>
            <option value="Pending">Pending</option>
            <option value="Processing">Processing</option>
            <option value="Shipped">Shipped</option>
            <option value="Delivered">Delivered</option>
            <option value="Cancelled">Cancelled</option>
        </select>
        <select id="orderDateSelect" asp-for="OrderDate">
            <option value="last_30_days">Last 30 days</option>
            <option value="last_7_days">Last 7 days</option>
        </select>
        <button type="submit" class="btn btn-dark">
            <i class="fas fa-search"></i>
            <span>Search</span>
        </button>
    </form>
    <div class="right">
        <button class="more_filters_btn">
            <i class="fas fa-filter"></i>
            <span>More Filters</span>
        </button>

        <button class="btn btn-dark">
            Bulk Actions
        </button>
    </div>
</section>
