


<section class="filter_section">
    <div class="left">
        <div class="search_input">
            <i class="fas fa-search"></i>
            <input type="text">
        </div>
        <select name="status" id="">
            <option value="all_status">All Status</option>
        </select>
        <select>
            <option value="last_30_days">Last 30 days</option>
            <option value="last_7_days">Last 7 days</option>
        </select>
    </div>
    <div class="right">
        <button class="more_filters_btn">
            <i class="fas fa-filter"></i>
            <span>More Filters</span>
        </button>
        
        <button class="btn btn-dark">
            Bulk Actions
        </button>
    </div>
</section>